.question-icon, .settings-icon, .spacer, .bulb-icon, .check-icon, .paper-icon, .man-icon-active, .man-icon{
	background: url(sprites-icons.png) no-repeat;
	display:block;
}

.question-icon{
	background-position: -39px -37px ;
	width: 24px;
	height: 24px;
	float:left;
	margin-right:20px;
}

.settings-icon{
	background-position: -36px -137px ;
	width: 24px;
	height: 24px;
	float:left;

}

.spacer{
	background-position: -149px -35px ;
	width: 1px;
	height: 30px;
	float:left;
	margin-right:10px;
	margin-left:-10px;
}

.bulb-icon{
	background-position: -244px -132px ;
	width: 14px;
	height: 35px;
}

.check-icon{
	background-position: -247px -40px ;
	width: 23px;
	height: 32px;
}

.paper-icon{
	background-position: -141px -138px ;
	width: 19px;
	height: 35px;
}

.man-icon-active{
	background-position: -339px -139px ;
	width: 20px;
	height: 20px;
}

.man-icon{
	background-position: -340px -41px ;
	width: 20px;
	height: 20px;
}

